In [ ]:
# Question 1.What are data structures, and why are they important?

  - Data structures are part of computer science that helps organize, manage, and store dat efficiently.

  ## Importance of data structure .

    - Problem Solving organize and store data whle algorithm are the steps to process that data . right data structure can save time and use less memory

    - Enhances Coding skills making work efficiently and more cleaner and pleasing to eyes

    - Better decision making choosing what structure will be suitable data type

    - Can help with daily life tasks from  making List to writting your very own program.

    - Creativity many famous games were also made using data structures in very small time frame because of  right data structure.


# Question 2.Explain the difference between mutable and immutable data types with examples ?


    - Mutables - Elements that can be modified with simple instructions .

             - List is best example and following examples shows this too
             - "not" is unwanted in following list

In [ ]:
list = ["this","is","an","example","of","a","not","mutable","data","type"]

In [ ]:
list

['this', 'is', 'an', 'example', 'of', 'a', 'not', 'mutable', 'data', 'type']

In [ ]:
list.remove("not")

In [ ]:
list

['this', 'is', 'an', 'example', 'of', 'a', 'mutable', 'data', 'type']

In [ ]:
from typing import Tuple
#  Immutable Data .

   These type of data can not be modified they are fixed Elements

   Tuple is best example and following examples shows this too

In [ ]:
mytuple = ("this","is","an","example","of","a","immutable","data","type")
print(mytuple)

this is fixed and can not be modified but choosen to show elements through thier memory list 0,1,2,3 etc

('this', 'is', 'an', 'example', 'of', 'a', 'immutable', 'data', 'type')

In [ ]:
#Question 3  What are the main differences between lists and tuples in Python ?

             -List is modifiable  but tupple is not

In [ ]:
#Question 4  Describe how dictionaries store data ?

             -Dictionary story data using Hashable structure that allows faster lookups.
              each piece of data is stored as a pair -one part to identify and another is actual data .


#Question 5  Why might you use a set instead of a list in Python ?

            -They are unique, fast for testing purpose , good with large data .


#Question 6  What is a string in Python, and how is it different from a list ?

             -String is sequence of characters such as ("pwskills")


              Differences from list


                -Text processing

                -String is immutable

                -Is limited to characters

                -Isn't vaersatile like list list can store any data type




#Question 7  How do tuples ensure data integrity in Python ?

             -They are Immutable so storing anything in tuples can ensure data integrity .
              your data stays secure


#Question 8   What is a hash table, and how does it relate to dictionaries in Python ?

              -A hash table is a data structure that stores key-value pairs using a technique called hashing.
               It provides fast lookups, insertions, and deletions—making it incredibly efficient for storing and retrieving data


#Question 9   Can lists contain different data types in Python ?

              -Yes lists can store different data types with ease no matter how large


#Question 10  Explain why strings are immutable in Python ?

              -Strings are specific meaning that once a string is created, its contents cannot be changed.It is a fundamental property of a string.


#Question 11  What advantages do dictionaries offer over lists for certain tasks ?

              -Following are advantages of dictionary over list

               -No duplication
               -Structured data
               -Faster lookups in dictionary
               -Very flexible to store complex mapping between data points


#Question 12   Describe a scenario where using a tuple would be preferable over a list ?

               -Using a tuple would be preferable over a list in scenarios where immutability, performance, and data integrity are important
                examples such as Marks , ID number .


#Question 13   How do sets handle duplicate values in Python ?

               -It is one of thir key feature tonot duplicate data .
                Suppose you create or copy data twice becasue its a baked in feature python will ignore it on it's own.


#Question 14    How does the “in” keyword work differently for lists and dictionaries ?


                -To check existence of an element in a collection.
                 However, it behaves differently for lists and dictionaries due to their underlying data structures.



#Question 15    Can you modify the elements of a tuple? Explain why or why not ?


                -NO you can't change them .They are immutable , tuples are fixed in size, Python can optimize their storage and performance


#Question 16    What is a nested dictionary, and give an example of its use case ?


                -A Nested dictionary is a dictionary that cantains another dictionar . It is a structured dictionary

                 Following is an example os its use

In [ ]:
Employee = {
    "Varun":{"age":26,"shift":{"dept": 1,"dept": 3}}
}

            #Nested dictionary

In [ ]:
#Question 17   Describe the time complexity of accessing elements in a dictionary ?


               -Dictionary in python Uses hash code  it is unique is fast cause it doesn't search through everything like a list

                It can be slow too if two keys collide



#Question 18   In what situations are lists preferred over dictionaries ?

               -List can be used while mantaing large prpogressing data type such as performnce for a month .



#Question 19   Why are dictionaries considered unordered, and how does that affect data retrieval ?

               -Dictionaries in Python are considered unordered because they do not store elements in a fixed sequence.
                Instead of keeping items in a strict order like lists, dictionaries use hashing.



#Question 20  Explain the difference between a list and a dictionary in terms of data retrieval ?


              Dictionary

               -Dictionary searches using hash
               it is faster than list but there might be chance of collision


              List

               - Data is stored in order and accessed using an index (list[0], list[1], etc.).

                 Searching for a specific value requires scanning the entire list, making lookups slower

In [ ]:
                                                           Practical Questions

In [4]:
#Question 1  Write a code to create a string with your name and print it ?

my_name = "Tarun"
print(my_name)

Tarun

In [8]:
#Question 2 Write a code to find the length of the string "Hello World"?

My_goal = "Success"
String_length =len(My_goal)
print(String_length)

7

In [16]:
#Question 3   Write a code to slice the first 3 characters from the string "Python Programming"?


my_string = "Python Programming"


sliced_string = my_string[:3]

print(sliced_string)

Pyt

In [19]:
#Question 4  Write a code to convert the string "hello" to uppercase ?

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [20]:
#Questyion 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

my_string = "i like apple"
new_string = my_string.replace("apple","orange")
print(new_string)

i like orange

In [21]:
#Question 6 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

number_list =[1,2,3,4,5]
print(number_list)

[1, 2, 3, 4, 5]

In [23]:
#Question 7  Write a code to append the number 10 to the list [1, 2, 3, 4]?

list = [1,2,3,4,]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [24]:
#Question 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [25]:
#Question 9  Write a code to access the second element in the list ['a', 'b', 'c', 'd']?


my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [27]:
#Question 10  Write a code to reverse the list [10, 20, 30, 40, 50]?

my_list = [10,20,30,40,50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [28]:
#Question 11   Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [30]:
#Question 12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow') ?

my_tuple = ("red","blue","green")
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [33]:
#Question 13  Write a code to find the minimum number in the tuple (10, 20, 5, 15) ?

my_tuple = [10,20,5,15]
minimum_number = min(my_tuple)
print(minimum_number)

5

In [34]:
#Question 14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ['dog','cat','rabbit']
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [35]:
#Question 15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?

fruit_tuple = ['melon','banana','apple' ]
is_kiwi_in_tuple = 'kiwi' in fruit_tuple
print(is_kiwi_in_tuple)

False

In [36]:
#Question 16  Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

my_set = ['a','b','c']
print(my_set)

['a', 'b', 'c']

In [37]:
#Question 17  Write a code to clear all elements from the set {1, 2, 3, 4, 5} ?

my_set = [1,2,3,4,5]
my_set.clear()
print(my_set)

[]

In [39]:
#Question 18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.?

my_set = [1,2,3,4]
my_set.remove(4)
print(my_set)

[1, 2, 3]

In [47]:
#Question 19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5} ?

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [53]:
#Question 20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}. ?

set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [57]:
#Question 21 . Write a code to create a dictionary with the keys "name", "age", and "city", and print it. ?

person_info = { 'name':'tarun', 'age': 26,'city': 'delhi'}
print(person_info)

{'name': 'tarun', 'age': 26, 'city': 'delhi'}

In [58]:
#Question 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25} ?

person_info = {'name': 'John','age':25}
person_info["country"] = 'USA'
print(person_info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [61]:
#Question 23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30} ?

person_info = {'name':'Alice', 'age':30}
name_value = person_info['name']
print(name_value)

Alice

In [73]:
#Question 24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'} ?

person_info = {'name':'bob','age':22, 'city':'New York'}
person_info.pop ("age")
print(person_info)

{'name': 'bob', 'city': 'New York'}

In [74]:
#Question 25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'} ?

person_info = {'name': 'ALice','city': 'Paris'}
key_exists = 'city' in  person_info
print(person_info)

{'name': 'ALice', 'city': 'Paris'}

In [75]:
#Question 26  Write a code to create a list, a tuple, and a dictionary, and print them all. ?

my_list = [1,2,3,4,5]
my_tuple = ('apple','kiwi')
my_dictionary = {'name': ' tarun', 'age': 26}
print(my_list)
print(my_tuple)
print(my_dictionary)

[1, 2, 3, 4, 5]
('apple', 'kiwi')
{'name': ' tarun', 'age': 26}

In [4]:
#Question 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced) ?

import random

random_numbers = random.sample(range(1,101),5)
random_numbers.sort()
print(random_numbers)

[3, 43, 62, 80, 86]

In [6]:
#Question 28 Write a code to create a list with strings and print the element at the third index.


my_list = ["apple", "banana", "cherry", "kiwi", "elderberry"]


third_index_element = my_list[3]


print(third_index_element)

kiwi

In [7]:
#Question 29 Write a code to combine two dictionaries into one and print the result ?



dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [8]:
#Question 30. Write a code to convert a list of strings into a set. ?


string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}